.FSPanel
  display: block
  position: relative
  width: 100%
  margin: 5px 0 15px 0

.BreadcrumbWrapper
  position: relative

  .Breadcrumb
    display: inline-block
    margin-left: 15px

.ButtonsContainer
  display: inline-block
  position: relative
  margin: 15px 0 5px 0

.HorizontalSpaceHolder
  display: inline-block
  position: relative
  margin: 0 15px

.SearchInputWrapper
  display: inline-block
  position: absolute
  margin: 0
  bottom: 5px
  right: 0
